@font-face {
    font-family: "Gilroy";
    font-weight: normal;
    src: url(./fonts/Gilroy-Medium.eot),
    url(./fonts/Gilroy-Medium.ttf),
    url(./fonts/Gilroy-Medium.woff);
}

@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    src: url(./fonts/Gilroy-Bold.eot),
    url(./fonts/Gilroy-Bold.ttf),
    url(./fonts/Gilroy-Bold.woff);
}